-
  var chats = [
    {
      name: "Вениамин Редакторович",
      msg: "o_O",
      avatar: "images/avatar_4.jpg",
      time: "11:45"
    },
    {
      name: "Джедай Падаванов",
      msg: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      avatar: "images/avatar_2.jpg",
      time: "10:12"
    },
    {
      name: "Алексей Примадонин",
      msg: "Тесты упали >_<",
      avatar: "images/avatar_3.jpg",
      time: "08:53"
    },
  ];

- place = 'Поиск по сообщениям'

if page === 'chat'
    section.tab-pane.fade.show.active(id='nav-chats' role='tabpanel' aria-labelledby='nav-chats-tab')
        h1.h2.fw-bold.mb-4 Чаты
        include search.pug
        .list.d-flex.flex-column.mt-2
            each value in chats
                .d-flex.justify-content-between.form.shadow-sm.mt-xl-2.mt-1.pt-3
                    .contact2.d-flex.p-3.gap-4
                        img(src=value.avatar, alt="").img-card.rounded-circle
                        .d-flex.flex-column
                            .d-flex.not-msg
                                .name.fw-bold= value.name
                                .time.ms-auto.font-size-14.me-xl-3.me-4= value.time
                            .status.text-secondary.text-smaller.msg= value.msg
                    
else
    section.tab-pane.fade(id='nav-chats' role='tabpanel' aria-labelledby='nav-chats-tab')
        h2 Чаты
        include search.pug
        .list.d-flex.flex-column.mt-2
            each value in chats
                .d-flex.justify-content-between.form.shadow-sm.mt-2.pt-2
                    .contact2.d-flex.p-3.gap-4
                        img(src=value.avatar, alt="").img-card.rounded-circle
                        .d-flex.flex-column
                            .d-flex.not-msg
                                .name.fw-bold= value.name
                                .time.ms-auto.font-size-14.me-xl-3.me-4= value.time
                            .status.text-secondary.text-smaller.msg= value.msg