-
  var contacts = {
    "A": [{
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "images/avatar_3.jpg"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "images/avatar_4.jpg"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "images/avatar_2.jpg"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      status: "Был онлайн 3 часа назад",
      avatar: "images/avatar_1.jpg"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "images/avatar_5.jpg"
    }],

    "П": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "images/avatar_6.jpg"
    }],
  }

- place = 'Поиск по контактам'

if page === 'chat'
    section.tab-pane.fade(id='nav-contacts' role='tabpanel' aria-labelledby='nav-contacts-tab')
        h1.h2.fw-bold.mb-4.mt-2 Контакты
        include search.pug
        .list.d-flex.flex-column.mt-2.mb-5
            each value, key in contacts
                if key === "A"
                    p.text-muted.mt-2= key
                    each contact2 in value
                        .contact2.d-flex.form.p-3.mb-3.gap-3.shadow-sm
                            img(src=contact2.avatar, alt="").img-card.rounded-circle
                            .d-flex.flex-column
                                .name= contact2.name
                                .status.text-secondary.text-smaller= contact2.status
                else 
                    p.text-muted.mt-5= key
                    each contact2 in value
                        .contact2.d-flex.form.p-3.mb-3.gap-3.shadow-sm
                            img(src=contact2.avatar, alt="").img-card.rounded-circle
                            .d-flex.flex-column
                                .name= contact2.name
                                .status.text-secondary.text-smaller= contact2.status
else
    section.tab-pane.fade.show.active(id='nav-contacts' role='tabpanel' aria-labelledby='nav-contacts-tab')
        h1.h2.fw-bold.mb-4.mt-2 Контакты
        include search.pug
        .list.d-flex.flex-column.mt-2.mb-5
            each value, key in contacts
                if key === "A"
                    p.text-muted.mt-2= key
                    each contact2 in value
                        .contact2.d-flex.form.p-3.mb-3.gap-3.shadow-sm
                            img(src=contact2.avatar, alt="").img-card.rounded-circle
                            .d-flex.flex-column
                                .name= contact2.name
                                .status.text-secondary.text-smaller= contact2.status
                else 
                    p.text-muted.mt-5= key
                    each contact2 in value
                        .contact2.d-flex.form.p-3.mb-3.gap-3.shadow-sm
                            img(src=contact2.avatar, alt="").img-card.rounded-circle
                            .d-flex.flex-column
                                .name= contact2.name
                                .status.text-secondary.text-smaller= contact2.status
h2 